<!--@subject Email - Footer @-->
                    <!-- End Content -->
                        <table class="last_table">
                            <tr class="container_block_question">
                                <td>

                                </td>
                            </tr>
                            <tr class="before_closing_text">
                                <td>
                                    <span>Merci de votre confiance et à très bientôt</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="closing-text"><span>Siège social : {{config path="general/store_information/name"}}</span><span>{{config path="general/store_information/address"}}</span></div>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
