<?xml version="1.0"?>
<config>
    <modules>
        <Adexos_Picto>
            <version>0.2.0</version>
        </Adexos_Picto>
    </modules>
    <global>
        <models>
            <adexos_picto>
                <class>Adexos_Picto_Model</class>
                <resourceModel>adexos_picto_resource</resourceModel>
            </adexos_picto>
            <adexos_picto_resource>
                <class>Adexos_Picto_Model_Resource</class>
                <entities>
                    <picto>
                        <table>picto</table>
                    </picto>
                </entities>
            </adexos_picto_resource>
        </models>
        <blocks>
            <adexos_picto>
                <class>Adexos_Picto_Block</class>
            </adexos_picto>
        </blocks>
        <helpers>
            <adexos_picto>
                <class>Adexos_Picto_Helper</class>
            </adexos_picto>
        </helpers>
        <resources>
            <adexos_picto_setup>
                <setup>
                    <module>Adexos_Picto</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </adexos_picto_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Adexos_Picto before="-">Adexos_Picto</Adexos_Picto>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>