<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Gdpr
 */
-->

<config>
    <modules>
        <Amasty_Gdpr>
            <version>1.5.9</version>
        </Amasty_Gdpr>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amasty_Gdpr after="Mage_Adminhtml">Amasty_Gdpr_Adminhtml</Amasty_Gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <helpers>
            <amgdpr>
                <class>Amasty_Gdpr_Helper</class>
            </amgdpr>
        </helpers>
        <blocks>
            <amgdpr>
                <class>Amasty_Gdpr_Block</class>
            </amgdpr>
        </blocks>
        <models>
            <amgdpr>
                <class>Amasty_Gdpr_Model</class>
                <resourceModel>amgdpr_mysql4</resourceModel>
            </amgdpr>
            <amgdpr_mysql4>
                <class>Amasty_Gdpr_Model_Mysql4</class>
                <entities>
                    <consentLog>
                        <table>amasty_gdpr_consent_log</table>
                    </consentLog>
                    <consentQueue>
                        <table>amasty_gdpr_consent_queue</table>
                    </consentQueue>
                    <deleteRequest>
                        <table>amasty_gdpr_delete_request</table>
                    </deleteRequest>
                    <privacyPolicy>
                        <table>amasty_gdpr_privacy_policy</table>
                    </privacyPolicy>
                    <policyContent>
                        <table>amasty_gdpr_privacy_policy_content</table>
                    </policyContent>
                    <actionLog>
                        <table>amasty_gdpr_action_log</table>
                    </actionLog>
                </entities>
            </amgdpr_mysql4>
        </models>
        <resources>
            <amgdpr_setup>
                <setup>
                    <module>Amasty_Gdpr</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amgdpr_setup>
        </resources>
        <template>
            <email>
                <amgdpr_anonymisation_notification_template translate="label" module="amgdpr">
                    <label>Amasty GDPR Anonymisation</label>
                    <file>amasty/gdpr/anonymisation.html</file>
                    <type>html</type>
                </amgdpr_anonymisation_notification_template>
                <amgdpr_consent_notification_template translate="label" module="amgdpr">
                    <label>Amasty GDPR Consent Request</label>
                    <file>amasty/gdpr/consent.html</file>
                    <type>html</type>
                </amgdpr_consent_notification_template>
                <amgdpr_deletion_notification_template translate="label" module="amgdpr">
                    <label>Amasty GDPR Approve Deletion</label>
                    <file>amasty/gdpr/approve_deletion.html</file>
                    <type>html</type>
                </amgdpr_deletion_notification_template>
                <amgdpr_deletion_notification_admin_template translate="label" module="amgdpr">
                    <label>Amasty GDPR Deletion for Administrator</label>
                    <file>amasty/gdpr/deletion_admin_notification.html</file>
                    <type>html</type>
                </amgdpr_deletion_notification_admin_template>
                <amgdpr_deletion_notification_deny_template translate="label" module="amgdpr">
                    <label>Amasty GDPR Deny Deletion</label>
                    <file>amasty/gdpr/deny_deletion.html</file>
                    <type>html</type>
                </amgdpr_deletion_notification_deny_template>
            </email>
        </template>
    </global>

    <crontab>
        <jobs>
            <amgdpr_send_consent_emails>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>amgdpr/consentQueue::sendEmails</model>
                </run>
            </amgdpr_send_consent_emails>
        </jobs>
    </crontab>

    <frontend>
        <translate>
            <modules>
                <Amasty_Gdpr>
                    <files>
                        <default>Amasty_Gdpr.csv</default>
                    </files>
                </Amasty_Gdpr>
            </modules>
        </translate>
        <layout>
            <updates>
                <amgdpr>
                    <file>amasty/gdpr.xml</file>
                </amgdpr>
            </updates>
        </layout>
        <routers>
            <amgdpr>
                <use>standard</use>
                <args>
                    <module>Amasty_Gdpr</module>
                    <frontName>gdpr</frontName>
                </args>
            </amgdpr>
        </routers>
        <events>
            <customer_session_init>
                <observers>
                    <ambase_upds>
                        <type>singleton</type>
                        <class>amgdpr/observer_checkDisabledCustomers</class>
                        <method>execute</method>
                    </ambase_upds>
                </observers>
            </customer_session_init>
            <customer_register_success>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_customerRegistration</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </customer_register_success>
            <core_block_abstract_to_html_after>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_blockRender</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch_amscheckoutfront_onepage_checkout>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_amscheckoutfront_onepage_checkout>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCValidate</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <controller_action_predispatch_opc_json_saveOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCValidate</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch_opc_json_saveOrder>
            <controller_action_postdispatch_opc_json_saveOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_opc_json_saveOrder>
            <controller_action_predispatch_paypal_express_placeOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_paypalExpress</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch_paypal_express_placeOrder>
            <controller_action_postdispatch_paypal_express_placeOrder>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_paypal_express_placeOrder>
            <controller_action_predispatch_checkout_multishipping_overviewPost>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_multishipping</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch_checkout_multishipping_overviewPost>
            <controller_action_postdispatch_checkout_multishipping_overviewPost>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_oSCSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_checkout_multishipping_overviewPost>
            <core_block_abstract_to_html_before>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_blockRender</class>
                        <method>toHtmlBefore</method>
                    </amasty_gdpr>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_Cookie</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_Contact</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
            <newsletter_subscriber_save_after>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_Newsletter</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_customerRegistrationValidate</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Amasty_Gdpr>
                    <files>
                        <default>Amasty_Gdpr.csv</default>
                    </files>
                </Amasty_Gdpr>
            </modules>
        </translate>
        <layout>
            <updates>
                <amgdpr>
                    <file>amasty/gdpr.xml</file>
                </amgdpr>
            </updates>
        </layout>
        <events>
            <model_config_data_save_before>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_settingSave</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </model_config_data_save_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <amasty_gdpr>
                        <class>amgdpr/observer_AddCloneButton</class>
                        <method>execute</method>
                    </amasty_gdpr>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>

    <default>
        <amgdpr>
            <general>
                <avoid_anonymisation>0</avoid_anonymisation>
            </general>
            <anonymisation_notification>
                <from>general</from>
                <template>amgdpr_anonymisation_notification_template</template>
            </anonymisation_notification>
            <consent_notification>
                <from>general</from>
                <template>amgdpr_consent_notification_template</template>
            </consent_notification>
            <deletion_notification>
                <admin>0</admin>
                <admin_template>amgdpr_deletion_notification_admin_template</admin_template>
                <from>general</from>
                <template>amgdpr_deletion_notification_template</template>
                <deny_from>general</deny_from>
                <deny_template>amgdpr_deletion_notification_deny_template</deny_template>
            </deletion_notification>
            <privacy_checkbox>
                <eea_only>0</eea_only>
                <eea_countries>AT,BE,BG,HR,CY,CZ,DK,EE,FI,FR,DE,GR,HU,IS,IE,IT,LV,LI,LT,LU,MT,NL,NO,PL,PT,RO,SK,SI,ES,SE,GB,CH</eea_countries>
                <consent_text><![CDATA[I have read and accept the <a href="#">privacy policy</a>]]></consent_text>
                <display_at_registration>1</display_at_registration>
                <display_at_checkout>1</display_at_checkout>
                <display_at_newsletter>1</display_at_newsletter>
                <display_at_contact>1</display_at_contact>
            </privacy_checkbox>
            <cookie_policy>
                <enabled>0</enabled>
                <notification_text><![CDATA[<p style="margin: 0px 20px;">The Website uses cookies. By continuing to use this website, your consent to our use of these cookies. <a href="/cookie-policy" target="_blank">Find out more</a></p>]]></notification_text>
                <confirmation_text><![CDATA[We use cookies to help improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please read the <a href="/cookie-policy" target="_blank">Cookie Policy</a>]]></confirmation_text>
                <confirmation_cookies><![CDATA[_ga
_gid
_gat
AMP_TOKEN]]></confirmation_cookies>
            </cookie_policy>
            <cookie_bar_customisation>
                <display_up>0</display_up>
                <background_color>676157</background_color>
                <text_color>e6e6e6</text_color>
                <buttons_color>297aa3</buttons_color>
                <buttons_text_color>FFFFFF</buttons_text_color>
                <link_color>3399cc</link_color>
            </cookie_bar_customisation>
            <customer_access_control>
                <download>1</download>
                <anonymize>1</anonymize>
                <delete>1</delete>
            </customer_access_control>
        </amgdpr>
    </default>
</config>
