<?xml version="1.0" encoding="UTF-8"?>
 <config>
	<modules>
		<Customweb_BNPMercanetCw>
			<version>1.10.0</version>
		</Customweb_BNPMercanetCw>
	</modules>
	<global>
		<models>
			<bnpmercanetcw>
				<class>Customweb_BNPMercanetCw_Model</class>
				<resourceModel>bnpmercanetcw_mysql4</resourceModel>
			</bnpmercanetcw>
			<bnpmercanetcw_mysql4>
				<class>Customweb_BNPMercanetCw_Model_Mysql4</class>
				<entities>
					<aliasdata>
						<table>bnpmercanetcw_alias_data</table>
					</aliasdata>
					<customercontext>
						<table>bnpmercanetcw_customer_context</table>
					</customercontext>
					<transaction>
						<table>bnpmercanetcw_transaction</table>
					</transaction>
					<storage>
						<table>bnpmercanetcw_storage</table>
					</storage>
					<externalcheckoutcontext>
						<table>bnpmercanetcw_external_checkout_context</table>
					</externalcheckoutcontext>
				</entities>
			</bnpmercanetcw_mysql4>
			
			<checkout>
				<rewrite>
					<cart>Customweb_BNPMercanetCw_Model_Checkout_Cart</cart>
				</rewrite>
			</checkout>
		</models>
		<blocks>
			<bnpmercanetcw><class>Customweb_BNPMercanetCw_Block</class></bnpmercanetcw>
			
			<adminhtml>
				<rewrite>
					<sales_order_invoice_view>Customweb_BNPMercanetCw_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<BNPMercanetCw>
				<class>Customweb_BNPMercanetCw_Helper</class>
			</BNPMercanetCw>
		</helpers>
		<resources>
			<bnpmercanetcw_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bnpmercanetcw_write>
			<bnpmercanetcw_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bnpmercanetcw_read>
			<bnpmercanetcw_setup>
				 <setup>
				 	<module>Customweb_BNPMercanetCw</module>
				 	<class>Customweb_BNPMercanetCw_Model_Resource_Setup</class>
				 </setup>
			</bnpmercanetcw_setup>
		</resources>
		<events>
			<adminhtml_sales_order_invoice_view_construct>
				<observers>
					<bnpmercanetcw_invoice_view>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>invoiceView</method>
					</bnpmercanetcw_invoice_view>
				</observers>
			</adminhtml_sales_order_invoice_view_construct>
			<checkout_cart_init>
				<observers>
					<bnpmercanetcw_init_cart>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>initCart</method>
					</bnpmercanetcw_init_cart>
				</observers>
			</checkout_cart_init>
			<sales_order_place_after>
				<observers>
					<bnpmercanetcw_place_order>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>placeOrder</method>
					</bnpmercanetcw_place_order>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<bnpmercanetcw_save_order>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>saveOrder</method>
					</bnpmercanetcw_save_order>
				</observers>
			</sales_order_save_after>
			<sales_order_payment_capture>
				<observers>
					<bnpmercanetcw_capture_payment>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>capturePayment</method>
					</bnpmercanetcw_capture_payment>
				</observers>
			</sales_order_payment_capture>
			<order_cancel_after>
				<observers>
					<bnpmercanetcw_cancel_order>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>cancelOrder</method>
					</bnpmercanetcw_cancel_order>
				</observers>
			</order_cancel_after>
			<controller_action_postdispatch_adminhtml_sales_order_create_save>
				<observers>
					<bnpmercanetcw_moto_after_save>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_MotoObserver</class>
						<method>postOrderSave</method>
					</bnpmercanetcw_moto_after_save>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_create_save>
			<controller_action_predispatch_adminhtml_sales_order_create_save>
				<observers>
					<bnpmercanetcw_moto_before_save>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_MotoObserver</class>
						<method>beforeOrderSave</method>
					</bnpmercanetcw_moto_before_save>
				</observers>
			</controller_action_predispatch_adminhtml_sales_order_create_save>
			<load_customer_quote_before>
				<observers>
					<bnpmercanetcw_load_customer_quote_before>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>loadCustomerQuoteBefore</method>
					</bnpmercanetcw_load_customer_quote_before>
				</observers>
			</load_customer_quote_before>
			<customweb_externalcheckout_widgets_collect>
				<observers>
					<bnpmercanetcw_externalcheckout_widgets_collect>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>collectExternalCheckoutWidgets</method>
					</bnpmercanetcw_externalcheckout_widgets_collect>
				</observers>
			</customweb_externalcheckout_widgets_collect>
			
			<controller_front_init_before>
				<observers>
					<bnpmercanetcw_register_translation_resolver>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>registerTranslationResolver</method>
					</bnpmercanetcw_register_translation_resolver>
					<bnpmercanetcw_register_logging_listener>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>registerLoggingListener</method>
					</bnpmercanetcw_register_logging_listener>
				</observers>
			</controller_front_init_before>
			
			<customer_login>
				<observers>
					<bnpmercanetcw_migrate_customer_transactions>
						<type>singleton</type>
						<class>Customweb_BNPMercanetCw_Model_Observer</class>
						<method>migrateCustomerTransactions</method>
					</bnpmercanetcw_migrate_customer_transactions>
				</observers>
			</customer_login>
		</events>
		<sales>
			<order>
				<statuses>
					<canceled_bnpmercanetcw translate="label">
						<label><![CDATA[Canceled BNPMercanetCw]]></label>
					</canceled_bnpmercanetcw>
					<pending_bnpmercanetcw translate="label">
						<label><![CDATA[Pending BNPMercanetCw]]></label>
					</pending_bnpmercanetcw>
				</statuses>
				<states>
					<canceled>
						<statuses>
							<canceled_bnpmercanetcw />
						</statuses>
					</canceled>
					<pending_payment>
						<statuses>
							<pending_bnpmercanetcw />
						</statuses>
					</pending_payment>
				</states>
			</order>
		</sales>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<bnpmercanetcw>
					<file>bnpmercanetcw.xml</file>
				</bnpmercanetcw>
			</updates>
		</layout>
		<translate>
			<modules>
				<Customweb_BNPMercanetCw>
					<files>
						<default>Customweb_BNPMercanetCw.csv</default>
					</files>
				</Customweb_BNPMercanetCw>
			</modules>
		</translate>
	</adminhtml>
	
	<crontab>
		<jobs>
			<bnpmercanetcw_cron>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>bnpmercanetcw/CronObserver::executeCron</model>
				</run>
			</bnpmercanetcw_cron>
		</jobs>
	</crontab>

	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Customweb_BNPMercanetCw after="Mage_Adminhtml">Customweb_BNPMercanetCw</Customweb_BNPMercanetCw>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	<frontend>
		<secure_url>
			<bnpmercanetcw>/BNPMercanetCw/</bnpmercanetcw>
		</secure_url>
		<blocks>
			<BNPMercanetCw>
				<class>Customweb_BNPMercanetCw_Block</class>
			</BNPMercanetCw>
		</blocks>
		<layout>
			<updates>
				<bnpmercanetcw>
					<file>bnpmercanetcw.xml</file>
				</bnpmercanetcw>
			</updates>
		</layout>
		<routers>
			<BNPMercanetCw>
				<use>standard</use>
				<args>
					<module>Customweb_BNPMercanetCw</module>
					<frontName>BNPMercanetCw</frontName>
				</args>
			</BNPMercanetCw>
		</routers>
		
		<translate>
			<modules>
				<Customweb_BNPMercanetCw>
					<files>
						<default>Customweb_BNPMercanetCw.csv</default>
					</files>
				</Customweb_BNPMercanetCw>
			</modules>
		</translate>
	</frontend>
	<default>
		<bnpmercanetcw>
			<general>
				<version>3.0.187</version>
				<operation_mode><![CDATA[test]]></operation_mode>
				<live_merchant_id><![CDATA[]]></live_merchant_id>
				<live_secret_key><![CDATA[]]></live_secret_key>
				<live_secret_key_version><![CDATA[1]]></live_secret_key_version>
				<transaction_reference_schema><![CDATA[{id}]]></transaction_reference_schema>
				<template_name><![CDATA[]]></template_name>
				<cancel_pending_orders>7200</cancel_pending_orders>
				<debug_log>1</debug_log>
				<logging_level>error</logging_level>
			</general>
		</bnpmercanetcw>
		<payment>
			<bnpmercanetcw_creditcard>
				<model>bnpmercanetcw/Method_CreditCard</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<credit_card_brands><![CDATA[visa,mastercard,americanexpress,maestro,vpay,visaelectron,cartebancaire]]></credit_card_brands>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_creditcard><bnpmercanetcw_americanexpress>
				<model>bnpmercanetcw/Method_AmericanExpress</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_americanexpress><bnpmercanetcw_mastercard>
				<model>bnpmercanetcw/Method_MasterCard</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_mastercard><bnpmercanetcw_maestro>
				<model>bnpmercanetcw/Method_Maestro</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Maestro]]></title>
				<description><![CDATA[Pay with Maestro]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_maestro><bnpmercanetcw_visa>
				<model>bnpmercanetcw/Method_Visa</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_visa><bnpmercanetcw_vpay>
				<model>bnpmercanetcw/Method_Vpay</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[V PAY]]></title>
				<description><![CDATA[Pay with V PAY]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_vpay><bnpmercanetcw_visaelectron>
				<model>bnpmercanetcw/Method_VisaElectron</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Visa Electron]]></title>
				<description><![CDATA[Pay with Visa Electron]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<threed_secure_min_amount><![CDATA[0]]></threed_secure_min_amount>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_visaelectron><bnpmercanetcw_cartebancaire>
				<model>bnpmercanetcw/Method_CarteBancaire</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Carte Bancaire]]></title>
				<description><![CDATA[Pay with Carte Bancaire]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_cartebancaire><bnpmercanetcw_bcmc>
				<model>bnpmercanetcw/Method_Bcmc</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Bancontact]]></title>
				<description><![CDATA[Pay with Bancontact]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<nfois><![CDATA[inactive]]></nfois>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_bcmc><bnpmercanetcw_acceptgiro>
				<model>bnpmercanetcw/Method_Acceptgiro</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Acceptgiro]]></title>
				<description><![CDATA[Pay with Acceptgiro]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_acceptgiro><bnpmercanetcw_ideal>
				<model>bnpmercanetcw/Method_IDeal</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[iDEAL]]></title>
				<description><![CDATA[Pay with iDEAL]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_ideal><bnpmercanetcw_minitix>
				<model>bnpmercanetcw/Method_MiniTix</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[MiniTix]]></title>
				<description><![CDATA[Pay with MiniTix]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_minitix><bnpmercanetcw_paypal>
				<model>bnpmercanetcw/Method_PayPal</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</bnpmercanetcw_paypal><bnpmercanetcw_sofortueberweisung>
				<model>bnpmercanetcw/Method_Sofortueberweisung</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Sofortüberweisung]]></title>
				<description><![CDATA[Pay with Sofortüberweisung]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_sofortueberweisung><bnpmercanetcw_paytrail>
				<model>bnpmercanetcw/Method_Paytrail</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Paytrail]]></title>
				<description><![CDATA[Pay with Paytrail]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_paytrail><bnpmercanetcw_paylib>
				<model>bnpmercanetcw/Method_Paylib</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[paylib]]></title>
				<description><![CDATA[Pay with paylib]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_paylib><bnpmercanetcw_directdebitssepa>
				<model>bnpmercanetcw/Method_DirectDebitsSepa</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Sepa Direct Debits]]></title>
				<description><![CDATA[Pay with Sepa Direct Debits]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_directdebitssepa><bnpmercanetcw_cetelemthree>
				<model>bnpmercanetcw/Method_CetelemThree</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Cetelem Full CB - 3CB]]></title>
				<description><![CDATA[Pay with Cetelem Full CB - 3CB]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_cetelemthree><bnpmercanetcw_cetelemfour>
				<model>bnpmercanetcw/Method_CetelemFour</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Cetelem Full CB - 4CB]]></title>
				<description><![CDATA[Pay with Cetelem Full CB - 4CB]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_cetelemfour><bnpmercanetcw_cetelempresto>
				<model>bnpmercanetcw/Method_CetelemPresto</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[Cetelem Presto]]></title>
				<description><![CDATA[Pay with Cetelem Presto]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<cetelem_type><![CDATA[CLA]]></cetelem_type>
				<cetelem_product><![CDATA[320c]]></cetelem_product>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_cetelempresto><bnpmercanetcw_masterpass>
				<model>bnpmercanetcw/Method_MasterPass</model>
				<active><![CDATA[0]]></active>
				<title><![CDATA[MasterPass]]></title>
				<description><![CDATA[Pay with MasterPass]]></description>
				<show_image><![CDATA[1]]></show_image>
				<show_payment_id><![CDATA[1]]></show_payment_id>
				<Currency><![CDATA[1]]></Currency>
				<use_base_currency><![CDATA[0]]></use_base_currency>
				<allowspecific><![CDATA[0]]></allowspecific>
				<specificcountry><![CDATA[]]></specificcountry>
				<sort_order><![CDATA[]]></sort_order>
				<min_order_total><![CDATA[]]></min_order_total>
				<max_order_total><![CDATA[]]></max_order_total>
				<settlement><![CDATA[settlement_direct]]></settlement>
				<invoice_send_email><![CDATA[0]]></invoice_send_email>
				
				<capturing><![CDATA[0]]></capturing>
				<status_authorized><![CDATA[pending]]></status_authorized>
				<status_uncertain><![CDATA[holded]]></status_uncertain>
				<status_captured><![CDATA[no_status_change]]></status_captured>
				<status_success_after_uncertain><![CDATA[no_status_change]]></status_success_after_uncertain>
				<status_refused_after_uncertain><![CDATA[no_status_change]]></status_refused_after_uncertain>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</bnpmercanetcw_masterpass>
		</payment>
	</default>
</config>
