@import "_fonts";

$primary-color: #36a6bc;
$secondary-color: #f1f1f1;
$red: #e2000e;
$font-color-grey: #777777;
$font-regular: Roboto Regular;
$background-grey: #f1f1f1;
$border-grey: #c4c4c4;
$background-menu:#2a282b;