<?xml version="1.0"?>
<config>
    <modules>
        <Adexos_Product>
            <version>0.4.2</version>
        </Adexos_Product>
    </modules>
    <global>
        <helpers>
            <adexos_product>
                <class>Adexos_Product_Helper</class>
            </adexos_product>
        </helpers>
        <models>
            <adexos_product>
                <class>Adexos_Product_Model</class>
            </adexos_product>
        </models>
        <resources>
            <adexos_product_setup>
                <setup>
                    <module>Adexos_Product</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </adexos_product_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <print>
                <use>standard</use>
                <args>
                    <frontName>product</frontName>
                    <module>Adexos_Product</module>
                </args>
            </print>
        </routers>
    </frontend>
</config>