<?xml version="1.0"?>
<config>
    <modules>
        <Adexos_Homeslider>
            <version>0.2.0</version>
        </Adexos_Homeslider>
    </modules>
    <global>
        <models>
            <adexos_homeslider>
                <class>Adexos_Homeslider_Model</class>
                <resourceModel>adexos_homeslider_resource</resourceModel>
            </adexos_homeslider>
            <adexos_homeslider_resource>
                <class>Adexos_Homeslider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>homeslider</table>
                    </slider>
                </entities>
            </adexos_homeslider_resource>
        </models>
        <blocks>
            <adexos_homeslider>
                <class>Adexos_Homeslider_Block</class>
            </adexos_homeslider>
        </blocks>
        <helpers>
            <adexos_homeslider>
                <class>Adexos_Homeslider_Helper</class>
            </adexos_homeslider>
        </helpers>
        <resources>
            <adexos_homeslider_setup>
                <setup>
                    <module>Adexos_Homeslider</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </adexos_homeslider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Adexos_Homeslider before="-">Adexos_Homeslider</Adexos_Homeslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>