<?xml version="1.0"?>
<config>
    <modules>
        <Metropole_Cms>
            <version>0.1.0</version>
        </Metropole_Cms>
    </modules>
    <global>
        <resources>
            <metropole_cms_setup>
                <setup>
                    <module>Metropole_Cms</module>
                </setup>
            </metropole_cms_setup>
        </resources>
    </global>
</config>